{% extends "base.html" %}
{%block title%}Music App{%endblock%}
{%block background_class%}_background{%endblock%}

{%block head%}
	{{ super()}}
{%endblock%}


{% block content%}
	<div style="margin-top: 80vh;margin-left: 5vw;">			
		<button class="btn btn-primary btns" onclick="load_lesson('lesson1')">Lesson 1</button>&emsp;
		<button class="btn btn-primary btns" onclick="load_lesson('lesson2')">Lesson 2</button>
	</div>
{% endblock%}
	 
	 
{% block script%}
	<script type="text/javascript">
		function load_lesson(lesson_name){
			$.redirect('/lesson',{lesson_name:lesson_name},"POST","_self");
		}
	</script>
{%endblock%}