{% extends "base.html" %}
{%block title%}Lesson -Music App{%endblock%}
{%block background_class%}background{%endblock%}

{%block head%}
	{{ super()}}
	<script type="text/javascript" src="./static/scripts/gauge.min.js"></script>
	<script>
			function start() {
				musicPlayer.startApplication();
			}
	</script>
	<link rel="stylesheet" type="text/css" href="">
	<style type="text/css">
			
		@media(max-width: 991.98px){
			.background{
				background-color: rgba(248, 246, 252, 1) !important;
			}
			#foo{
				height: 20vh;
				/* width:  60vw; */
			}
		}

		._playBackBtn{
			display: none;
		}

	</style>
{%endblock%}


{% block content%}
	<br><center><h2 class="primary">{{lesson_name[:-1]}}-{{lesson_name[-1]}}</h2>
	<div style="margin-top: 2%;">
	<canvas id="foo"></canvas><br>
	<select class="custom-select _select col-6" style="border: 2px solid rgba(77, 29, 173, 1);" id="ragas">
		{%for ragas in Melakarta_Ragas%}
			{%if ragas != "dheerasankarabaranam" %}
				<option value="{{ragas}}" disabled>{{ragas}}</option>
			{%else%}
				<option value="{{ragas}}" selected="selected">{{ragas}}</option>
			{%endif%}
		{%endfor%}
	</select><br>
	<select class="custom-select _select col-3" id="SHRUTI" style="border: 2px solid rgba(77, 29, 173, 1); ">
		<option value="C"  disabled> C </option>
		<option value="C#" disabled> C# </option>
		<option value="D"  disabled> D  </option>
		<option value="D#" disabled> D# </option>
		<option value="E"  disabled> E  </option>
		<option value="F"  disabled> F  </option>
		<option value="F#" disabled> F  </option>
		<option value="G"  disabled> G  </option>
		<option value="G#" disabled> G# </option>
		<option value="A"  disabled> A  </option>
		<option value="A#" disabled> A# </option>
		<option value="B"  selected="selected">B</option>
	</select>
	<select class="custom-select _select col-3" id="SCALE" style="border: 2px solid rgba(77, 29, 173, 1); ">
		{%for i in range(3)%}
		<option value="{{i+1}}" disabled > {{i+1}} </option>
		{%endfor%}
		<option value="4" selected="selected">4</option>
		{%for i in range(5,6)%}
		<option value="{{i+1}}" disabled> {{i+1}} </option>
		{%endfor%}
	</select>
	<br><br>
	<button class="btn btn-primary btns _start" id="micButton" onclick="start()">Start</button>
	<button class="btn btn-primary btns _playBackBtn" id="playBack" onclick="musicPlayer.playBack()">Play Back</button></center>
	
	<div>
		<h5 class="congrats" style="margin-top: 5vh;display: none;color: rgba(76, 175, 80, 1);text-align: center;" id="congrats">Congratulation</h5><br>
		

		<h5 class="primary box" style="margin-top: 2vh;margin-left: 2vw;">Notes:&emsp;<span id="notes"></span></h5><br>
		<h5 class="primary box _play" style="margin-left: 2vw;">Playing Note:&emsp;<span id="play_note"></span></h5><br>
		
		<!--
		<h5 class="primary box _listen" style="margin-top: 2vh;margin-left: 2vw;">Listen Mode:&emsp;<span id="remaining_second">0</span>/<span id="total_second"></span></h5><br>-->

		<h5 class="mistake" style="margin-left: 2vw;color: red;" id="mistake"></h5><br>

		<h5 class="primary box _listen" style="margin-top: 1vh;margin-left: 2vw;">Repeat:&emsp;<span id="repeat">0</span>/3</h5><br>
		<h5 class="primary box _listen" style="margin-left: 2vw;">Waiting For Note:&emsp;<span id="nextnote"></span></h5><br>
		<h5 class="primary box _listen" style="margin-left: 2vw;">Detected Note:&emsp;<span id="note"></span></h5>

		<h5 class="primary box _listen" style="margin-left: 2vw;">Detected Frequency:&emsp;<span id="frequency"></span> Hz</h5>
	</div>
	<input type="hidden" value="{{lesson_name}}" id="lesson_name">
	<input type="hidden" value="{{base_addr}}" id="base_addr">
	<input type="hidden" value="NULL" id="noteIndex">
	<span id="scale" style="display: none;">2</span>
{% endblock%}
	 
	 
{% block script%}
	<script type="text/javascript">
		var gaugeCanvas = $('#foo')[0];
		gauge = new Gauge(gaugeCanvas).setOptions({
		strokeColor: '#dedede',
		pointer: {
			length: 0.4,
			strokeWidth: 0.035
		},
		angle: 0,
		lineWidth: 0.30,
		fontSize: 30,
		limitMax: true,
		staticZones: [
			   {strokeStyle: "#FFDD00", min: 0, max: 30}, // Yellow
			   {strokeStyle: "#30B32D", min: 30, max: 70}, // Green
			   {strokeStyle: "#F03E3E", min: 70, max: 100}  // Red
			],
		staticLabels: {
			  font: "10px sans-serif",  // Specifies font
			  labels: [0,10,20,30,40,50,60,70,80,90,100],  // Print labels at these values
			  color: "#000000",  // Optional: Label text color
			  fractionDigits: 0  // Optional: Numerical precision. 0=round off.
			}
		});
		gauge.maxValue = 100;

		// This gauge control does not look good in all browsers if set to 0 from the beginning.
		// Setting it to 1 and then to 0 solves this.
		gauge.set(1);
		gauge.set(0);
		$('#scale').on("click",function(){
			gauge.set(parseInt($('#scale').text()));
		});
	</script>
{%endblock%}