.content-container{
    position: relative;
    padding-top: 50px;
}
.menu{
    /* height: 100%; */
    background-color: rgba(77, 29, 173, 1);
    border: 1px solid rgba(77, 29, 173, 1);
    position: absolute;
    z-index: 150;
    width: 100%;
    top: 0%;
    padding-top: 45px;
    display: none;   
}
.menu > ul{
	padding: 5px 0px 0px 0px;
    box-sizing: border-box;
    margin: unset;
}

.menu > ul >li{
	display: block;
	padding: 10px 20px;
    border-bottom: 1px solid white;
    /* opacity: 0.95; */
}
.menu > ul >li:hover{
    cursor: pointer;
    background-color: white;
}
.menu > ul >li:hover > a.active{
    color: black;
}