:root{
	--background_img:"http://192.168.43.125:8000/static/images/home.png";
}
._background{
	background-image: url("https://playmusicapp.herokuapp.com/static/images/attachment1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: unset;
}
.btns{
	padding-left:1.5em;
	font-size: 1.2em;
	padding-right: 1.5em;
	background-color: rgba(77, 29, 173, 1) !important;
	border-radius: 50px !important;
}
.back{
	position: absolute;
	left: 0;
	border-bottom-right-radius: 30px !important;
	border-top-right-radius: 30px !important;
	padding-right: 20px;
}
.primary{
	color: rgba(77, 29, 173, 1) !important;
}
.box{
	display: none;
}
nav{
	position: relative;
}
nav ul{
	margin: unset;
	padding: 3px 10px;
	list-style: none;
	background-color: rgba(77, 29, 173, 1);
	color: white;
}
nav ul li{
	display: inline-block;
}
nav a.active{
	font-weight: bold;
	font-size: 3.2em
}
.bar{
	position: absolute;
	color: white;
	font-size: 3em;
	right: 3%;
	top: 50%;
	transform: translate(0%,-50%);
}
.bar:hover{
	cursor: pointer;
}