:root{
	--background_img:"http://192.168.43.125:8000/static/images/home.png";
}
._background{
	background-image: url("https://playmusicapp.herokuapp.com/static/images/attachment1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: unset;
}
.btns{
	padding-left:1.5em;
	font-size: 1.2em;
	padding-right: 1.5em;
	background-color: rgba(77, 29, 173, 1) !important;
	border-radius: 50px !important;
}
.back{
	position: absolute;
	left: 0;
	border-bottom-right-radius: 30px !important;
	border-top-right-radius: 30px !important;
	padding-right: 20px;
}
.primary{
	color: rgba(77, 29, 173, 1) !important;
}
.box{
	display: none;
}
nav{
	position: relative;
}
nav ul{
	margin: unset;
	padding: 3px 10px;
	list-style: none;
	background-color: rgba(77, 29, 173, 1);
	color: white;
	font-family: Arial, sans-serif;
}
nav ul li{
	display: inline-block;
}
a.active,a{
	/* font-weight: bold; */
	font-size: 22px;
	color: white;
	text-decoration: none;
}
.bar{
	position: absolute;
	color: white;
	font-size: 22px;
	right: 3%;
	top: 50%;
	padding: 20px 0px;
	box-sizing: border-box;
	transform: translate(0%,-50%);
}
.bar:hover{
	cursor: pointer;
}

.menu{
	position: absolute;
	right:  0%;
	min-width: 300px;
	display: none;
	z-index: 100;
}

.menu > ul{
	padding: unset;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.menu > ul >li{
	display: block;
	padding: 10px 10px;
	border-bottom: 1px solid white;
}
.bar.show .menu{
	display: block;	
}
@media(max-width: 991.98px){
	nav a.active{
		font-size: 3.7em
	}
	.bar{
		font-size: 3.7em
	}

}